.whole{
  width: 80%;
  margin:auto;
  text-align: center;
}
.main{
  display: flex;
  justify-content: space-evenly;
}
.choice button{
  height: 50px;
  width: 50px;

}

.game table tr td{
  border: solid black 1px;;
  height:150px;
  width:150px;
}

.game table tr td button{
  width: 100%;
  height: 100%;
}

.score table{
  border: 1px solid black;
}

.score table th{
  border-bottom: 1px solid black;
  width: 150px;
}

.score #scoreEntry{
  height: 100px;
}

.score #scoreEntry td{
  height: 100px;
  border-right: 1px solid black;
  text-align: center;
}

